<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.fit.model.dao.VideoDao">

	<!-- 모든 영상 조회 -->
	<select id="selectAll" resultType="video">
		SELECT *
		FROM video
		ORDER BY id
	</select>

	<!-- 영상 아이디에 맞는 영상 하나 조회 -->
	<select id="selectOne" resultType="video" parameterType="string">
		SELECT *
		FROM video
		WHERE id = #{id}
	</select>
	
	<!-- 운동 부위에 맞는 영상 -->
	<select id="selectCategory" parameterType="string" resultType="video">
		SELECT *
		FROM video
		WHERE category=#{category}
	</select>
	
	<!-- 조회수 많은 순으로 영상 가져오기 -->
	<select id="selectViewCnt" resultType="video">	
		SELECT *
		FROM video
		ORDER BY viewCnt DESC
		LIMIT 5;
	</select>
	
	<select id="selectVideoByPage" resultType="video" parameterType="String">
		SELECT *
		FROM video
		<if test="videoId neq null and videoId neq ''">
			WHERE STRCMP(id , #{videoId}) = 1
		</if>
		ORDER BY id
		LIMIT 8;
	</select>
</mapper>