$default-color: #aaa;
$primary-color: #bbb;
$input-color: #ccc;
$input-hover-border-color: #ddd;

@import "~vue2-datepicker/scss/index.scss";

.week {
  width: 0;

  .mx-input {
    width: 0;
    border: 0;
  }
}